<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: 500;">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="saveSetting()">

    <!-- Capital to Invest -->
    <div class="form-field">
      <label class="form-label">Capital to Invest</label>
      <ion-input type="number" formControlName="capital_to_invest"></ion-input>
    </div>

    <!-- Max Stop Loss Amount -->
    <div class="form-field">
      <label class="form-label">Max Stop Loss Amount</label>
      <ion-input type="number" formControlName="max_stop_loss_amount"></ion-input>
    </div>

    <!-- Max Holding Limit -->
    <div class="form-field">
      <label class="form-label">Max Holding Limit</label>
      <ion-input type="number" formControlName="max_holding_limit"></ion-input>
    </div>

    <!-- Max Trade Amount -->
    <div class="form-field">
      <label class="form-label">Max Trade Amount</label>
      <ion-input type="number" formControlName="max_trade_amount"></ion-input>
    </div>

    <!-- Save -->
    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Save
    </ion-button>
  </form>
</ion-content>
