<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="holding">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Holding</ion-label>
        <ion-badge *ngIf="(holdingCount$ | async) as count">{{ count }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
