<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: 500;">{{ modalHeader }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="holdingForm" (ngSubmit)="save()">

    <!-- Name -->
    <div class="form-field">
      <label class="form-label">Name</label>
      <ion-input formControlName="name"></ion-input>
    </div>

    <!-- Trade Date -->
    <div class="form-field">
      <label class="form-label">Trade Date</label>
      <input type="date" formControlName="trade_date" style="
        border: 1px solid #ddd;
        outline: none;
        border-radius: 3px;
        font-size: 14px;
        margin-bottom: 6px;
        margin-top: 8px;
        padding: 12px;
        width: 100%;
      ">
    </div>

    <!-- Status -->
    <div class="form-field">
      <label class="form-label">Status</label>
      <ion-select formControlName="status" placeholder="Select Status">
        <ion-select-option value="active">Active</ion-select-option>
        <ion-select-option value="watchlist">Watchlist</ion-select-option>
        <ion-select-option value="completed">Completed</ion-select-option>
      </ion-select>
    </div>

    <!-- Entry -->
    <div class="form-field">
      <label class="form-label">Entry Price</label>
      <ion-input type="number" formControlName="entryprice" (ionInput)="updateInvestmentAndRisk()"></ion-input>
    </div>

    <!-- Stoploss -->
    <div class="form-field">
      <label class="form-label">SL</label>
      <ion-input type="number" formControlName="stoploss" (ionInput)="updateInvestmentAndRisk()"></ion-input>
    </div>

    <!-- Quantity -->
    <div class="form-field">
      <label class="form-label">Quantity</label>
      <ion-input type="number" formControlName="quantity" (ionInput)="updateInvestmentAndRisk()"></ion-input>
    </div>

    <!-- Calculated -->
    <div class="form-field">
      <label class="form-label">Investment</label>
      <div class="value-text">₹{{ investment | number:'1.2-2' }}</div>
    </div>

    <div class="form-field">
      <label class="form-label">Risk %</label>
      <div class="value-text">{{ riskPer | number:'1.2-2' }}%</div>
    </div>

    <div class="form-field">
      <label class="form-label">Risk Value</label>
      <div class="value-text">{{ riskValue | number:'1.2-2' }}</div>
    </div>

    <!-- Image -->
    <div class="form-field">
      <label class="form-label">Image</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>

    <!-- Save -->
    <ion-button expand="block" type="submit" [disabled]="!canSave()">Save</ion-button>
  </form>
</ion-content>
