.trade-card {
  border-top: 1px solid #ddd; // top separator
  padding-top: 12px; // space above trade row
  margin-top: 8px; // spacing from main card
  position: relative; // needed for badge positioning

.primary-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #015796;
    margin-left: 6px;
    vertical-align: middle;
    margin-bottom: 1px;
}

  .container {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      flex-direction: column;
    }

    .field-row {
      display: flex;
      align-items: center;
      margin-bottom: 6px;

      .rrr-badge {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 10px;
        color: #fff !important;
        margin-left: auto;
        /* push to right end */
      }

      .rrr-badge.positive {
        background-color: #4caf50; // green badge
      }

      .rrr-badge.negative {
        background-color: #f44336; // red badge
      }

      .title {
        font-size: 13px;
        color: #888;
        margin-right: 6px;
      }

      .value {
        font-size: 14px;
        font-weight: 500;
      }

      .age {
        font-size: 13px;
        color: #555;
        margin-left: 6px;
      }

      .positive {
        color: #28a745;
      }

      .negative {
        color: #dc3545;
      }
    }
  }
}