<div class="trade-card">
  <!-- Initial badge -->
  <div *ngIf="trade.is_primary" class="initial-badge">Primary</div>

  <div class="container">
    <!-- LEFT SIDE -->
    <div class="left">
      <div class="field-row">
        <span class="title">Qty:</span>
        <span class="value">{{ trade.quantity }}</span>
      </div>
      <div class="field-row">
        <span class="title">Invested:</span>
        <span class="value">
          ₹{{ (trade.entryprice * trade.quantity) | roundOff }}
        </span>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right">
      <div class="field-row">
        <span
          class="value"
          [ngClass]="(trade.stoploss - trade.entryprice ) >= 0 ? 'positive' : 'negative'"
        >
          ₹{{ ((trade.stoploss  - trade.entryprice) * trade.quantity) | roundOff }}
        </span>
       <span class="age">| Age {{ trade.trade_date | age }}</span>

      </div>
      <div class="field-row">
        <span class="title">Price:</span>
        <span class="value">₹{{ trade.entryprice | roundOff }}</span>
      </div>
    </div>
  </div>
</div>
