.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}

.image-item {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.custom-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
